body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

/*header section*/
.navbar {
    height: 64px;
    width: 100%;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    justify-content: space-between;
}

.navbar .left {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    height: 32px;
}

.left span {
    display: inline;
}

.navbar .right {
    text-decoration: none;
    color: grey;

}

.navbar ul {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
}

.list-item {
    margin-right: 16px;
}

.list-item a {
    text-decoration: none;
    color: darkgrey;
}

/*Main section*/
.sec1,
.sec3 {
    background-color: grey;
}

.sec1 {
    background-color: #8e8e8e;
    display: flex;
    padding: 5% 3%;
}


.banner {
    width: 60%;
    height: auto;
    margin: 32px 24px;
    align-content: left;
}

.banner-content button {
    background-color: white;
    width: 100%;
    height: 3rem;
    cursor: pointer;
    color: white;
}

/*sec2*/
.info-left {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.info-left img {
    width: 100%;
}

.banner-left-info {
    padding-bottom: 2%;
}

.banner-left-info h2,
p {
    padding: 2%;
}

.banner-left-info p {
    font-size: 80%;
}

.info-right {
    display: flex;
    flex-direction: column;
}

.info-right img {
    width: 10rem;
}

.info-right h4 {
    font-size: 140%;
}

.info-right button {
    background: none;
    border: 0;
}

.info-right a {
    text-decoration: none;
}



.application,
.campus,
.guest {
    display: flex;
    border: 1px solid #8e8e8e;
    padding: 2%;
}

.application-info,
.campus-info,
.guest-info {
    padding: 0 5%;
    margin-top: 4%;
    font-size: 80%;
}

.application-info>*,
.campus-info>*,
.guest-info>* {
    padding: 2% 0;
}

.guest {
    background-color: #8e8e8e;
    margin: 0 0 2% 0;
}


/*sec3*/
/*Start learning Section*/
.c1-container {
    background-color: #8e8e8e;
    padding: 2% 5% 8% 5%;
}

.c1-container>h1 {
    text-align: center;
    color: #3c3b3d;
    padding: 4%;
}

.c1-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
}

.c1-grid img {
    width: 100%;
}

.c1-grid>* {
    display: flex;
    flex-direction: column;
}

.c1-info {
    background-color: white;
    padding: 5%;
}

.c1-info>* {
    padding: 3% 0;
}

.c1-info>p {
    font-size: small;
    color: #8e8e8e;
}


/*sec4*/
.sec4>h1 {
    color: #3c3b3d;
    text-align: center;
    padding: 5%;
}

.thesis-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

/**** Other thesis container ****/
.other-thesis-container {
    display: flex;
    flex-direction: column;
}

.other-thesis-container img {
    width: 10rem;
}

.other-thesis-container p {
    font-size: small;
    color: #3c3b3d;
}

.fisma,
.now-and-then {
    display: flex;
    padding: 5%;
}

.fisma {
    background-color: #8e8e8e;
}

.fisma-info,
.nt-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fisma-info>*,
.nt-info>* {
    padding: 1%;
    margin: 5% 8%;
}

/**** Urban container ****/
.urban-container {
    display: flex;
    flex-direction: column;
    padding: 0 3%;
}

.urban-video>video {
    width: 100%;
}

.urban-info {
    padding: 1% 0 5% 0;
}

.urban-info>* {
    padding: 1% 0;
}

.urban-info>p {
    font-size: small;
    color: #3c3b3d;
}


/*footer section*/



footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 24px;
    padding-top: 16px;
    color: grey;}

footer ul {
    display: flex;
    list-style-type: none;
}

footer li {
    text-align: right;
    padding: 0 1em;
}


footer a {
    text-decoration: none;
    color: grey;
    margin-right: 0px;
    align-content: right;
}